[2020-10-22 08:56] NghiaTranUIT opened #1 "Research Swizzle with InterposeKit"
### Description
InterposeKit is a modern framework that provides better swizzle functions. It's crucial for **atlantis** since we have to swizzle the original methods from NSURLConnection or NSURLSession in order to capture the request/response on the fly.

### Acceptance Criteria
- Research InterposeKit and integrate to the app
- Write the first example to capture HTTP traffic from the example ap

[2020-10-22 09:36] NghiaTranUIT commented on #1
Swizzle works fine:

[code]

[2020-10-22 09:38] NghiaTranUIT opened #2 "Use URLProtocol to capture the HTTP/HTTPS Traffic"
### Description
There is an easy solution to capture HTTP/HTTPS Traffic from the iOS app is using [URLProtocol](https://developer.apple.com/documentation/foundation/urlprotocol)

Example: https://www.avanderlee.com/swift/printing-data-requests/

It's possible:
- Log out the Request and Response

### Acceptance Criteria
- Research and write a POC

[2020-10-22 15:36] NghiaTranUIT opened #4 "Setup basic CI/CD"
### Acceptance Criteria
- Add basic CICD (Github Action) for atlantis

[2020-10-24 03:38] NghiaTranUIT opened #5 "Compose Data Message"
### Description
After the connection is established, we should send the Data message to the macOS client. Our strategy is that we send a message which is consist of two parts:

- [1]: Serve 8 bytes: It contains the length of the second message
- [2]: The actual data message

Therefore, Proxyman macOS could read the first message and understand how long the actual message is -> To read correctly

[2020-10-24 03:39] NghiaTranUIT opened #6 "Swizzle the Response from URLSession"
### Description
As we're able to swizzle the "resume" func from URLSessionDataTask, we should continue with the "Response" to get the actual Response message

[2020-10-24 03:42] NghiaTranUIT opened #7 "Use NSCoding instead of Codable"
### Description
At the moment, we serialize the message to JSON string by using Codable. It might be not high performance and take more space.

We should consider using NSCoding to convert to Data. If the message length is lesser, we should migrate to NSCoding

[2020-10-24 03:44] NghiaTranUIT opened #8 "Send Project and Device Data after the connection establish"
### Description
At the moment, every message always contains the Project and Device name. It's duplicated since the Device and Project name are not likely changed after starting the project.

- We should not send it to each message.
- Send this information in the first message after the connection is establish

[2020-10-24 03:45] NghiaTranUIT opened #9 "Swizzle all methods from NSURLSession and NSURLConnection"
### Description
It's time to support all methods from URLSession and URLConnection.

[2020-10-24 09:18] NghiaTranUIT commented on #2
We don't use URLProtocol since it requires the user to register our custom Protocol. We should use Swizzle methods

[2020-10-25 07:06] NghiaTranUIT commented on #1
We decide not to use InterposeKit since it's too complicated.

[2020-10-26 02:11] NghiaTranUIT commented on #9
We've implemented all URLSession Delegate, except URLConnection 👍

[2020-10-26 02:14] NghiaTranUIT opened #10 "Prepare to steam the data to Proxyman app"
### Description
As we're able to stream the Data Message to Proxyman app via NetService, it's time to implement this feature on the Proxyman app.

### Acceptance Criteria
- Able to send correct data (request/response)
- Able to send project/device metadata

[2020-10-27 01:57] NghiaTranUIT opened #11 "iOS 14 Compatible"
### Description
Since iOS 14 requires extra configs from info.plist, we should have a safety check to make sure it's included in the user's app. Otherwise, disable the Atlantis to prevent crashes.

Ref: https://developer.apple.com/news/?id=0oi77447

[2020-10-27 02:56] NghiaTranUIT opened #12 "Support CocoaPod"
### Description
We should support cocoapod for Atlants.

[2020-10-27 06:33] NghiaTranUIT opened #13 "Support Swift Packages Manager"
### Description
We should support SPM, so it's easier to integrate Atlantis 👍

[2020-10-28 02:57] NghiaTranUIT opened #14 "[BUG] Atlantis doesn't send the Connection Package when Proxyman app resumes"

[2020-10-28 03:47] NghiaTranUIT opened #15 "[BUG] Missing some Header from Request"
### Description
For some reason, our swizzle method could not get the following request:
- Accept-Language
- User-Agent
- Accept-Encoding

Research shows that three HTTP Headers are appending at the very end before the request is executed from URL Session.

Begel is not able to record it too, but FLEX does. We should find a way to fix it 👍

[2020-10-28 10:19] NghiaTranUIT opened #16 "[BUG] Crash on iOS 14 beta: [NSNetService _internalNetService]: unrecognized selector sent to instance"
### Description
We encounter the crash at launch time if we run Atlantis on iOS 14 (happens on both Simulation and physical device too)

Ref: https://developer.apple.com/forums/thread/656681

We should fix it 👍

[2020-10-30 03:21] NghiaTranUIT opened #17 "[BUG] Crash on _receiveData:"
### Description
For some reason, when we integrate Atlantis into certain iOS OSS from Github, it crashes in _receiveData. We should fix it

[2020-10-30 03:48] NghiaTranUIT commented on #17
Fixed in 1.0.5 🎉

[2020-10-30 04:56] NghiaTranUIT opened #18 "[BUG] Atlantis does not send traffic logs anymore after going from the background"
### Description
If the app does to the background mode, after becoming the foreground mode, Bonjour services will be stopped. Therefore, there are no traffic logs that appear on Proxyman anymore

We should fix it 👍

[2020-10-30 06:31] NghiaTranUIT commented on #18
Done with 1.0.6 🎉

[2020-10-30 13:51] NghiaTranUIT opened #19 "Add Atlantis Version Compatible"
### Description
Proxyman should show the ⚠️  Warning if Proxyman is connecting with Atlantis that isn't compatible with.

[2020-10-31 03:00] NghiaTranUIT opened #20 "Support Gzip compression for the Message"
### Description
As our messages are plaintext, so it might take huge bandwidth to transfer to Proxyman mac. Even though it's a local network, with high speed, but we should use Compression Algorithm for better performance.

### Acceptance Criteria
- Support gzip on the message

[2020-10-31 03:44] NghiaTranUIT commented on #20
Done with 1.0.8

[2020-11-01 02:58] NghiaTranUIT opened #22 "Write some tests"

[2020-11-01 06:24] NghiaTranUIT opened #24 "Support Carthage"
### Description
As we've already supported Cocoapod and Swift Package Manager, we should also support Carthage 👍

[2020-11-01 16:00] NghiaTranUIT opened #25 "Multiple Proxyman apps in the same network"
### Description
At the moment, we hardcode the Bonjour Port from the Proxyman app and Atlantis Framework, it causes that Proxyman app can see other traffic from other colleagues if they're in the same network.

We should find a way to distinguish the traffic and prevent this issue.

[2020-11-03 04:08] NghiaTranUIT commented on #25
There is an easy solution to tell Atlantis that connects to particular macOS is using a USB Cable.

Just plug in your iOS Device to the Mac. Bonjour will prefer Proxyman over the wire than the local network 👍

[2020-11-03 04:11] NghiaTranUIT opened #26 "Support WebSocket"
### Description
We can do "Method Swizzling" for `send(_:completionHandler:)` and `receive(completionHandler:)` from `URLSessionWebSocketTask` to capture the WS/WSS messages.

We should support this feature 👍

### Acceptance Criteria
- Do "Method Swizzling" to URLSessionWebSocketTask
- Able to send the message to Proxyman for the inspector

-------------
If you have the same feature request, pleas

[2020-11-04 06:12] jkyeo opened #28 "Any plan of Android support ?"

[2020-11-04 06:42] NghiaTranUIT commented on #28
I actually dig around Android world to find the equivalent function of [Method Swizzling](https://nshipster.com/method-swizzling/), but I couldn't find any useful.

It seems that Kotlin doesn't support it, and Java have Reflection, but it doesn't seem what I'm looking for.

Do you have any suggestion or code example 🤔 @jkyeo

[2020-11-04 09:13] NghiaTranUIT commented on #25
Fixed with #29

[2020-11-04 10:32] NghiaTranUIT commented on #25
To work with this change, please check out this build https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.11.0_Atlantis_v2.dmg

<img width="795" alt="Screen Shot 2020-11-04 at 17 31 19" src="https://user-images.githubusercontent.com/5878421/98100630-b8093800-1ec3-11eb-8abc-56f5b8957823.png">

[2020-11-04 15:58] JohnnyTseng opened #30 "Is it possible to allow installing atlantis on < iOS 12?"
Thanks for developing atlantis, however our project's deployment version is still iOS 11.
Is it possible to allow installing atlantis on < iOS 12?
Without functioning on older version is okay but only allow it to install (Maybe adding some `#available` flags?) on projects that deployment version are still on older versions

[2020-11-04 16:04] NghiaTranUIT commented on #30
Look like it’s possible because NSNetService and URLSessionStreamData both support iOS 11 👍

I will check out and support tomorrow if it’s possible

[2020-11-05 03:52] NghiaTranUIT commented on #30
@JohnnyTseng can you try this on your iOS 11 😄

[code]

[2020-11-05 08:14] NghiaTranUIT commented on #30
hey @JohnnyTseng , this PR #31 is done.

Please installing:
[code]
it should work 👍

[2020-11-05 10:38] spnkr opened #32 "Fatal error: Could not get data from _swizzleURLSessionDataTaskDidReceiveResponseForIOS13AndLater. It might causes due to the latest iOS changes. Please contact the author!: file Atlantis/NetworkInjector+URLSession.swift, line 82"
getting `Fatal error: Could not get data from _swizzleURLSessionDataTaskDidReceiveResponseForIOS13AndLater. It might causes due to the latest iOS changes. Please contact the author!: file Atlantis/NetworkInjector+URLSession.swift, line 82`

caused by the assertion on line 82 of `NetworkInjector+URLSession.swift`--`task` is not a `URLSessionDataTask`, it's just a `URLSessionTask`.

[code]

lldb deb

[2020-11-05 10:48] advantis opened #33 "Assertion failure in _swizzleURLSessionDataTaskDidReceiveResponseForIOS13AndLater"
Version: 1.2.0 (d918263) integrated using SPM.
Device: Simulator running iOS 13.0.

This happens in `NetworkInjector+URLSession.swift:82`, due to a failed safe-check in this line:
[code]

The response URL is starting with `https://app-measurement.com/config/app/...`. So most likely, this is a request sent by Firebase SDK (namely Firebase Remote Config feature).

### Some LLDB info:

**po me.value(

[2020-11-05 10:48] NghiaTranUIT commented on #32
Thanks for the debug bug report. I'm on it now 👍 😄

[2020-11-05 10:49] NghiaTranUIT commented on #32
Just wondering, what iOS version are you using? 🤔

[2020-11-05 10:59] NghiaTranUIT commented on #33
Thank. It's related with #32. I'm fixing it now 👍

[2020-11-05 11:08] ykotov2 commented on #33
Right. Excuse me for the duplicate then. I searched for the existing issue before hitting that "New issue" button but looks like we reported almost simultaneously. Please feel free to close this to avoid duplicates, and please let me know in case you need any additional info.

[2020-11-05 11:09] advantis commented on #33
Right. Excuse me for the duplicate then. I searched for the existing issue before hitting that "New issue" button but looks like we reported almost simultaneously. Please feel free to close this to avoid duplicates, and please let me know in case you need any additional info.

[2020-11-05 11:16] NghiaTranUIT commented on #32
Please check out the release 1.3.0 (https://github.com/ProxymanApp/atlantis/releases/tag/1.3.0). It should fix your issue 👍

Thank you in advance 😄

[2020-11-05 11:16] NghiaTranUIT commented on #33
@advantis it's done with Atlantis 1.3.0 (https://github.com/ProxymanApp/atlantis/releases/tag/1.3.0).

Please update your pod 😍

[2020-11-05 11:17] NghiaTranUIT commented on #33
Please let me know if it works for you 👍

[2020-11-05 11:36] advantis commented on #33
Yep, everything works great, thank you!

[2020-11-05 11:36] #33 closed

[2020-11-05 11:52] advantis opened #35 "Question: Response duration is always empty"
Just noticed that (unlike the proxy approach) all the requests captured using Atlantis have no duration:

![Screen Shot 2020-11-05 at 13 37 42](https://user-images.githubusercontent.com/853858/98237085-07f00980-1f6d-11eb-83e4-253c06f3f566.png)

The [screenshot](https://user-images.githubusercontent.com/853858/98237327-6917dd00-1f6d-11eb-9c06-a36fd5d28238.png) in the [integration doc](https://docs.

[2020-11-05 11:53] NghiaTranUIT commented on #35
Hm, good eye. It's a bug.

I should show the duration. Let me fix it 👍

[2020-11-05 12:29] JohnnyTseng commented on #30
That's fast!! Thank you!

[2020-11-05 12:29] #30 closed

[2020-11-05 13:37] NghiaTranUIT commented on #35
Please check out this beta 🙌 : https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.11.1_Missing_Duration_Atlantis.dmg

<img width="1792" alt="Screen Shot 2020-11-05 at 20 34 12" src="https://user-images.githubusercontent.com/5878421/98247801-ac427200-1fa6-11eb-849c-53070584f8d0.png">

[2020-11-05 16:06] advantis commented on #35
Wow, you're super fast! Indeed, now duration values show up. Thanks!

[2020-11-05 16:06] #35 closed

[2020-11-06 13:38] NghiaTranUIT opened #36 "Manually Add Request and Response to Atlantis"
### Description
Some apps do not use any URLSession or NSURLConnection to make a request(e.g. Apps use GRPC or Swift NIO, ...). Therefore, Atlantis could not automatically capture the request and response out of the box.

WE should introduce a function that the user can **manually** add URLRequest OR HTTPURLResponse to Atlantis and show on Proxyman.

### Acceptance Criteria
- Add 2 funcs to add Re

[2020-11-06 15:46] djbe commented on #28
Very curious about this as well (just in general, for all my Android colleagues).

From some quick searching, these seem to be the current solutions:
- Android Studio has a built-in [Network Profiler](https://developer.android.com/studio/profile/network-profiler)
- There are libraries for in-app network debugging such as [Chuck](https://github.com/jgilfelt/chuck), but they require the user making

[2020-11-07 06:46] NghiaTranUIT commented on #28
Thanks for the detailed hint @djbe. I will continue researching and soon support Atlantis on Android 👍

[2020-11-09 14:54] raziqfarid commented on #4
@NghiaTranUIT Would love to work on this. Can you please assign this to me?

[2020-11-10 01:44] NghiaTranUIT commented on #4
Feel free to open the PR. I appreciate it 🙇

[2020-11-11 16:52] jsorge opened #38 "[SwiftPM] How to include in only certain configurations?"
First: this is awesome. I've just installed the Swift Package into our project and it's fantastic!

I'm wondering if there's a way for me to only include the library in a certain configuration (debug in my case) since I would prefer to exclude Atlantis from all of my release builds. Were this just a library in my project I could use a build setting in the `OTHER_LDFLAGS` for my debug configuration

[2020-11-12 02:13] NghiaTranUIT commented on #38
You can exclude it in two way:

### Soft approach
It means that you still include Atlantis library to your source code, but don't import it or start the Atlantis. It just stays there and does nothing.

[code]

### Hard approach
It means that you **completely exclude** Atlantis from Production build, but include in Debug build.

1. Duplicate your current target and add suffix "-Production"
2. Selec

[2020-11-12 07:40] Chintan-Dave opened #39 "Network traffic inspect view in-app"
Atlantis is developed as a support component of Proxyman and Proxyman is a great tool to inspect and play with requests and responses.

But sometimes it would be more convenient if we can look at the request and response in-app without moving between app and Proxyman.

Even if it is a read-only feature without any advanced tool (like Map, script, etc..) it can be veryhelpfull. One such example is

[2020-11-12 07:44] NghiaTranUIT commented on #39
Yay. It's possible to support a previewer view on iOS.

The reason why I would use Proxyman to inspect the traffic is that we can leverage many cool features from Proxyman, such as a
+ Comprehensive Filter (by header, body, query, ...)
+ Previewer tab: JSON, Form, Cookie,
+ Highlight and Comment feature on the latest Proxyman (https://docs.proxyman.io/basic-features/highlight-by-color-and-add-comm

[2020-11-12 07:45] NghiaTranUIT commented on #39
I will support a basic Previewer like Netfox or FLEX to facilitate it 👍

[2020-11-12 08:38] Chintan-Dave commented on #39
If we plan this to include in Atlantis then one thing I personally expect is better UI/UIX compare to other alternatives.

And why not it's from the Proxyman team. 😇

[2020-11-12 17:30] jsorge commented on #38
Gotcha, thanks!

[2020-11-12 17:30] #38 closed

[2020-11-19 00:33] abonham opened #41 "Proxyman fails to start with multiple bonjour services in Info.plist"
I've got a project that includes Chromecast which already has bonjour services in Info.plist. Atlantis was only checking the the first item in the list so failing to start.

I made a PR to fix the issue: https://github.com/ProxymanApp/atlantis/pull/40

[2020-11-19 01:56] NghiaTranUIT commented on #41
Thanks for the first PR. I will test it today 👍

[2020-11-19 07:21] NghiaTranUIT commented on #41
Done with #40

[2020-11-25 20:58] jaylyerly opened #42 "Assertion Failure on Mac Catalyst"
I have incorporated Atlantis into my iOS app and it works fine running on the iPad simulator.  My app supports macOS via Catalyst, but when I build and run my Mac target, I hit an `assertionFailure` in the `injectURLSessionResume` method in NetworkInjector.swift.

Does Atlantis not support the Catalyst environment?

[2020-11-26 02:15] NghiaTranUIT commented on #42
Hi, at the moment, we haven't support Catalyst app yet, but it's a good time that we do it.

Our team is working on it now 👍

[2020-11-26 06:54] NghiaTranUIT commented on #42
Hey @jaylyerly

Let check the master branch, it's fixed with #43

[code]

<img width="1469" alt="Screen Shot 2020-11-26 at 13 46 49" src="https://user-images.githubusercontent.com/5878421/100317354-cb08b700-2fee-11eb-99ac-43d03dc7c761.png">

I will release the official build soon 👍

[2020-11-26 08:12] NghiaTranUIT commented on #42
We've released Atlantis 1.4.2, which fully supports Mac Catalyst. Please update your Pod file 👍

[2020-12-01 11:44] hpinhal opened #44 "Failing to capture request body"
I'm trying to replace the proxy setup with Atlantis but it's not capturing most of the request bodies.
Doing the same request over and over again, it was only the request body for a couple of them.

![image](https://user-images.githubusercontent.com/2880250/100736053-1eea1600-33ca-11eb-9528-145d4b35aa78.png)

Using the latest version via SPM.
Running on a physical device with iOS 14.2.1.

[2020-12-01 11:50] NghiaTranUIT commented on #44
Thanks for the report @hpinhal 👍

Just wondering that can you see the Response Body?

and what Networking library that you're using? (e.g Alamofire, AFNetworking or URLSession, or anything else) 🤔

[2020-12-01 11:59] NghiaTranUIT commented on #44
Look like I'm able to reproduce the bug. I'm fixing now 🙌

[2020-12-01 12:47] NghiaTranUIT commented on #44
Hi @hpinhal

We've fixed the bug and release Atlantis 1.4.3 (https://github.com/ProxymanApp/atlantis/releases/tag/1.4.3)

Please update your latest version with SPM and try again 🎉

[2020-12-01 14:14] hpinhal commented on #44
Hi @NghiaTranUIT ,

Works like a charm. Much appreciated!

[2020-12-01 14:14] #44 closed

[2020-12-23 02:53] kenjitayama opened #47 "Assertion Failure when using file URLs"
I get this assertion failure when using file URLs.

[code]

It can be reproduced with this code in an iOS app.

[code]

In our app, many resources are retrieved from a web server, while some are bundled in the app.
For a specific kind of resource, we want to use the same implementation for web and bundled file, which uses URLSessionDownloadTask.
It would be helpful if this assertionFailure is remo

[2020-12-23 02:54] NghiaTranUIT commented on #47
Thanks for opening this issue. I'm looking at it and remove it as possible 👍

[2020-12-23 03:18] NghiaTranUIT commented on #47
Hey @kenjitayama,

Can you share with us:
1. Which iOS are you using?
2. If you don't mind, can you provide a sample of your URL?

I tried to reproduce but it's working fine (Proxyman 2.15.1 and Atlantis 1.4.3)

[code]

[code]

Both URLSessionDownloadTasks are still working

<img width="1792" alt="Screen Shot 2020-12-23 at 10 15 25" src="https://user-images.githubusercontent.com/5878421/102955267-

[2020-12-23 03:21] NghiaTranUIT commented on #47
One more thing, when the `assertionFailure` occurs, can you print out the type of response variable?

The easier way is that you set the breakpoint at `Atlantis/Packages.swift, line 209` and type `po response` to see the type and content.

[2020-12-23 03:48] kenjitayama commented on #47
@NghiaTranUIT Thanks for checking the issue!!

I am using iOS 14.0 and Atlantis 1.4.3.

Did this when assertionFailure occured (I changed the app name in the URL):
[code]

You need to use a `file://` URL to reproduce.

[2020-12-23 04:12] NghiaTranUIT commented on #47
Thanks. I'm able to reproduce this bug. Fixing now 👍

[2020-12-23 06:31] NghiaTranUIT commented on #47
@kenjitayama please check out the 1.5.0 version, which I've released (https://github.com/ProxymanApp/atlantis/releases/tag/1.5.0)

It fixes your problem 👍 Thank you and Merry Christmas 🎉

<img width="1792" alt="Screen Shot 2020-12-23 at 13 20 30" src="https://user-images.githubusercontent.com/5878421/102966773-1e552300-4523-11eb-81a5-10dff7ab032f.png">

[2020-12-23 07:24] kenjitayama commented on #47
@NghiaTranUIT Thanks for the quick fix!
Confirmed the issue is resolved in our app.
It's nice that we could see `file://` URLs in Proxyman too 👍
Merry Christmas 🎄

[2020-12-23 09:45] NghiaTranUIT commented on #47
Glad to know it works 🎉

[2020-12-23 10:07] #47 closed

[2021-01-09 18:22] bastianh commented on #26
this would be really helpful .. is there a easy way to add sending the data manually over the library ?

[2021-01-10 02:19] NghiaTranUIT commented on #26
@bastianh It's possible to manually send the request/response to Proxyman by Atlantis. Please check out https://github.com/ProxymanApp/atlantis#advanced-usage

It's useful for apps that are using GRPC, C++ libraries, or other formats that haven't supported yet 👍

[2021-01-10 08:45] bastianh commented on #26
Yes.. I saw that .. but I have no idea how to do that for a websocket connection..

I'm starting it with this snippet:
[code]
and then get only callbacks for message that I receive.

[2021-01-10 12:50] NghiaTranUIT commented on #26
Sorry for this. The code I show you only work with HTTP/HTTPS request/response, not WS/WSS for now :/

I will add this feature to the next release 👍

[2021-01-10 14:34] bastianh commented on #26
great... thank you

[2021-01-19 05:09] NghiaTranUIT opened #50 "Support Atlantis for URLSessionUploadTask"
### Acceptance Criteria
- Able to capture all Upload Requests with body data
- Work fine with URLSessionUploadTask
- Work with Alamofire upload data or multiple-part

[2021-01-19 05:10] NghiaTranUIT commented on #50
PR #49

[2021-01-19 21:27] Sherlouk opened #52 "Consider Separating API from Use Case"
Hey @NghiaTranUIT 👋

First off just wanted to say I love Proxyman - I use it personally and it's a breath of fresh air from what feels like an ancient Charles Proxy! 🙌

I just wondered how you felt about the idea of separating Atlantis down into two distinct 'targets' (to use SPM terminology) or 'subspecs' (CocoaPods).

In essence, I have a use case where I want to monitor network traffic as part

[2021-01-20 02:12] NghiaTranUIT commented on #52
Hi, Glad to know that you love Proxyman 😄

It's possible to support two targets (SMP):
- One for only Method Swizzling to automatically capture all traffic and notify the observer
- One that is a Transport layer (Use Bonjour)

But it's quite complicated to implement it at the moment (since I have a plan to support WS/WSS too).

-------------------------

However, I can quick support:
- Add a Flag

[2021-01-20 09:25] Sherlouk commented on #52
Thanks for the quick response! That'd certainly help support my use case 🙌

We can of course still keep an issue around for a longer-term improvement to break the project down, but it won't be as time critical if we can still carry out our pieces

[2021-01-21 03:13] NghiaTranUIT commented on #52
@Sherlouk If you don't mind, please check out this branch (https://github.com/ProxymanApp/atlantis/pull/53)

[code]

From now, you can disable the Bonjour and observe the traffic from its delegate:
[code]

Please let me know if it works for you 👍

[2021-01-21 13:41] Sherlouk commented on #52
Hey @NghiaTranUIT 👋

Thanks for the quick work! The PR looks perfect for what we need.

[code]

Unfortunately I'm getting an unrelated issue when installing the CocoaPod - and we've not yet upgraded to Xcode 12 for the SPM version (in the main project).

I'll download it into a sample project this evening to triple check behaviour and confirm 👍  Sorry for the delay

[2021-01-21 16:18] Sherlouk commented on #52
I have also just got it working on an experimental Xcode 12 branch using the SPM integration and it's working **beautifully**. Huge appreciation for getting that done

[2021-01-22 03:16] NghiaTranUIT commented on #52
Glad to know it works for you. I will finalize the PR and bump a version today 😄

[2021-01-22 03:59] NghiaTranUIT commented on #52
Just let you know that the PR, which includes a new Example Code as I promise is closed due to a few limitations of SMP #54

[2021-02-10 01:51] apostopher opened #56 "Objective-C error 'Atlantis-Swift.h' file not found."
Hello,
first of all, thanks to proxyman, it's super easy to debug network traffic.

I'm trying to integrate Atlantis in my objective-C `AppDelegate.m`. but the Xcode build fails with the error `'Atlantis-Swift.h' file not found.`

I followed the README.md documentation and added `#import "Atlantis-Swift.h"`.
I'm using the Atlantis version 1.7.1 (installed using cocoapods)

Thanks in advance.

[2021-02-10 01:52] NghiaTranUIT commented on #56
Thanks for the bug. Let me investigate it with the Objc Project

[2021-02-10 02:02] NghiaTranUIT commented on #56
Hey @apostopher

I've just created a new Objective-C Project and integrate Atlantis by Cocoapod. I didn't get any problem.

<img width="1680" alt="Screen Shot 2021-02-10 at 09 00 12" src="https://user-images.githubusercontent.com/5878421/107453935-92549480-6b7e-11eb-94fe-d5285f5b4383.png">

[code]

Can you download and run this objc example: https://www.dropbox.com/s/k9cbdqhmyil5lo6/Objective-C-Ex

[2021-02-10 03:42] apostopher commented on #56
@NghiaTranUIT thanks for a quick reply. sure. I'll try it on my end.

[2021-02-10 04:20] NghiaTranUIT commented on #56
You're welcome @apostopher Please let me know the result 😄

[2021-02-10 06:43] apostopher commented on #56
@NghiaTranUIT it worked in your project. I'm using react-native. and it's still failing. I'll investigate the issue and update this thread.

[2021-02-10 07:24] NghiaTranUIT commented on #56
I'm not sure if Atlantis could work with React-Native if the Network library in your project doesn't use URLSession to make a Request.

Do you know a React-native example that I can test out? 🤔

[2021-02-10 09:00] jsyrtsov opened #57 "app crash if we download big (>300 MB) file"
please add any comments here if you need more information about this issue
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/58340627/107487753-8d500f00-6b97-11eb-9b80-522967e04aab.png">

[2021-02-10 09:05] NghiaTranUIT commented on #57
Sorry to hear that but I'm not sure why NetServiceTransort is not capable of sending your big file.

I suppose that I should have a save check to skip big files, such as over 100Mb to prevent the app crashes 👍

[2021-02-10 09:06] jsyrtsov commented on #57
@NghiaTranUIT  thank you for fast answer!

[2021-02-10 09:26] NghiaTranUIT commented on #57
@jsyrtsov if you don't mind, please use this pod:

[code]

and share with me whether or not it fixes the crash 😄

Thank you in advance 👍

[2021-02-10 09:28] jsyrtsov commented on #57
@NghiaTranUIT give me few minutes

[2021-02-10 10:18] jsyrtsov commented on #57
@NghiaTranUIT
I've tested with 100 Mb limit, got crash. 50 Mb limit crashed too. 20 Mb limit crashed too, I have assumption that buffer is not clearing, what do you think about it ?

[2021-02-10 12:12] NghiaTranUIT commented on #57
Thanks for getting back. Let me check the root of the problem 👍

[2021-02-10 12:57] NghiaTranUIT commented on #57
I'm not sure but I could transfer 50Mb by Atlantis to Proxyman macOS.

<img width="1497" alt="Screen_Shot_2021-02-10_at_19_53_54" src="https://user-images.githubusercontent.com/5878421/107512777-e04ab600-6bd9-11eb-981b-686b8aa51284.png">

However, it crashes when I tried a file 150Mb 😿 Google show that there is no memory left, so it crashes the app.

@jsyrtsov:
1. Which iPhone model are you using?

[2021-02-10 13:05] jsyrtsov commented on #57
@NghiaTranUIT
I'm running on iPhone 7 iOS 13.7 and iOS 14.4 (both of these devices are crashing. I did't try to repeat crash on any simulator, should I?
I'm downloading two big files at the same time (~30MB + ~200MB + ~300MB. it is catalog DataBases) and Atlantis is trying to send it to Proxyman almost simultaneously and got crash on second file.
I can try to find some links with big files if you

[2021-02-10 13:07] NghiaTranUIT commented on #57
Yes, please try on the Simulator too, since there is plenty of RAM. Try on 20Mb and 100Mb.

Good idea. I might support the Exclusive List 😄

[2021-02-10 13:14] jsyrtsov commented on #57
Okay, I'll try on simulator without limit and with different limits

[2021-02-10 13:31] NghiaTranUIT commented on #57
Look like I found the problem @jsyrtsov The bug is from JSONEncoder, not the URLStreamTask.

Since the file size is large, it might not be able to represent in the JSON Format. I'm looking for a solution to exclude in this case

[2021-02-10 13:34] jsyrtsov commented on #57
oh, good news!

[2021-02-10 13:47] NghiaTranUIT commented on #57
@jsyrtsov let check the latest commit from `bug/crash-big-files` branch 👍

I decide to skip the large body if it exceeds the threshold (100Mb)

<img width="1605" alt="Screen_Shot_2021-02-10_at_20_44_52" src="https://user-images.githubusercontent.com/5878421/107517954-032c9880-6be1-11eb-8a8c-7fab59b6cb86.png">

[2021-02-10 14:01] jsyrtsov commented on #57
I've got crash with 100MB limit and with 50MB limit. With 25MB limit everything is OK)

[2021-02-10 15:45] apostopher commented on #56
I think react-native's fetch API internally uses NSURLSession. I'll try a sample app tomorrow. I'll share my findings with you.

[2021-02-10 20:47] jsyrtsov commented on #57
I've tested on simulator and didn't get any crashes. But on iPhone 7 I don't get crash only if I set 25MB limit.

[2021-02-11 04:04] NghiaTranUIT commented on #57
Thanks. I would like to limit the big file size to 50Mb. iPhone 7 lacks available RAM, so it might be crashed

[2021-02-22 08:33] aarashgoodarzi opened #59 "Proxyman breaks simulator connection"
If proxyman is open by app startup , simulator keeps getting 999 error.
FYI: if before opening proxyman , you run application, the problem will be solved and in first run but if you rerun the app the problem comes to you.
FYI2: Certificates are set.

[2021-02-23 20:23] Sherlouk opened #60 "DispatchGroup wait blocks Atlantis delegate"
Hey there 👋

Weird 'bug' (is it a bug? maybe not...) that lost me a good hour this evening 😅

If you have a DispatchGroup and are using the sync `group.wait()` function then Atlantis's delegate call is not triggered until after the group has finished.

Simplified example, I'm assuming you've already setup Atlantis with a `print("Event Received")` in the delegate call

[code]

In this example you w

[2021-02-23 20:31] Sherlouk commented on #15
Hey Nghia 👋

I see this is listed as "Done" but unsure if it's _actually_ fixed? Maybe a regression in the version I'm using?

[code]

As it stands the lists above show all of the request/response headers I'm receiving but User-Agent is not one (and is one that I would like!)

Atlantis v1.8.0 via Swift Package Manager in "transport-less mode"

[code]

[2021-02-23 23:18] NghiaTranUIT commented on #60
Hey @Sherlouk,

Since the delegate is called from the main thread, so if you're using `.wait()`, it will block the main thread. Therefore, Atlantis's delegate could not be trigger until the Group is finished.

Maybe I can introduce the delegate queue, that you can pass the queue you would receive the delegate. It might fix your problem 😄

[2021-02-27 13:39] Sherlouk opened #61 "Swizzle URLSession Metrics"
Hey! Got a bit of a feature request here 🤓

How would you feel about swizzling [this](https://developer.apple.com/documentation/foundation/urlsessiontaskdelegate/1643148-urlsession) request: `urlSession(_:task:didFinishCollecting:)`

This is a really interesting delegate call because it gives you access to the task metrics which includes how long every part of the request took including the DNS lo

[2021-02-27 14:59] Sherlouk commented on #61
Worth noting, some (most?) is only available on iOS 13+ (etc) - so should just be a `nil` object on incompatible versions rather than bumping the package's minimum up.

[2021-02-28 01:54] NghiaTranUIT commented on #61
Thanks for opening this ticket @Sherlouk

I suppose that I should support your request soon and show the data in the Summary Tab on Proxyman macOS 😄

<img width="660" alt="Screen Shot 2021-02-28 at 08 53 26" src="https://user-images.githubusercontent.com/5878421/109405359-6de02100-79a2-11eb-981e-75ad1367fc07.png">

I will put this feature in the next release 🎉

[2021-03-01 09:12] aminerol commented on #28
in Android, they have what they call dynamic instrumentation where you can set up hooks on methods.
not sure if this is what it's needed or the equivalent for Method Swizzling in android but there are many libraries abstracting this concept such as [AndHook](https://github.com/asLody/AndHook)

[2021-03-12 14:22] apostopher commented on #56
@NghiaTranUIT i investigated the issue and here are my 2 cents:
This error happens if the `Podfile` does not have `use_frameworks!` line.

Unfortunately in my case if i add `use_frameworks!` my other deps fail to build. :-(

[2021-03-13 04:02] NghiaTranUIT commented on #56
@apostopher can you fork the project, remove the `use_frameworks!` and see if it works for you 🤔

[2021-03-18 18:04] djbe commented on #28
Right, so a colleague of mine made an Android implementation for Bagel, credits to @dieter115!

Right now the code is embedded in an internal library we use in our Android projects. It consists of:
- Interceptor and listener autodiscovery, [code can be found here](https://github.com/appwise-labs/AndroidCore/tree/develop/src/main/java/be/appwise/core/networking/bagel). It's very similar to the iOS

[2021-03-19 02:57] NghiaTranUIT commented on #28
@djbe It sounds good. I'm not familiar with Android development, so it might take more time to do it by myself 😸

If you don't mind, you can do and open the PR. I'm happy to help you with the integration 😄

[2021-03-22 14:14] djbe commented on #28
Is there a high level documentation on how Atlantis works, and maybe where it differs from Bagel? I noticed Atlantis for example compresses all sent data using gzip

[2021-03-23 03:57] NghiaTranUIT commented on #28
@djbe Unfortunately, there is no high-level documentation, but I can quickly describe here:

- As soon as you launch Atlantis, Atlantis will do "Method Swizzling" for all NSURLSession methods: It's the same logic with Bagel, but in Swift. Code: https://github.com/ProxymanApp/atlantis/blob/main/Sources/NetworkInjector.swift
- When Atlantis receives the request/response. It will construct the messag

[2021-03-23 11:59] apostopher commented on #56
@NghiaTranUIT I cloned this project https://www.dropbox.com/s/k9cbdqhmyil5lo6/Objective-C-Example.zip?dl=0 and tried without `use_frameworks!` and I can reproduce the same error.

[2021-04-05 13:21] johanthorell opened #62 "Map Local does not work when using Atlantis on device"
Hi!

I’m using Atlantis and everything seems to setup correctly, I can see all the traffic from the device etc, but when I try to map a response nothing happens. In this example a replaced the status code but when I re run the app nothing gets mapped. Same map local works as expected in the simulator.
<img width="1680" alt="Screenshot 2021-04-05 at 15 09 55" src="https://user-images.githubusercont

[2021-04-05 13:23] NghiaTranUIT commented on #62
Hi @johanthorell, when you're using Atlantis, you couldn't use any Debugging tools, like Map Local, Breakpoint, etc because Atlantis is not built for debugging.

To use Map Local, Please install the certificate on your iOS Devices (Certificate Menu -> Install Certificate for iOS -> Physical Devices), then you can use Map Local as you wish 👍

[2021-04-05 13:24] NghiaTranUIT commented on #62
Atlantis is for quick preview the Traffic from your app, it's not for debugging 😄

[2021-04-05 13:25] johanthorell commented on #62
Oh ok, thanks for the info and the super fast reply!

[2021-04-05 13:25] #62 closed

[2021-04-09 14:27] justin opened #63 "Missing release notes for v1.8.0"
Hi, I saw that the 1.8.0 release was pushed yesterday. Is it possible to ensure that release notes are added to those releases? Given the nature of what Atlantis does its helpful to be able to distribute that as a link to our team.

https://github.com/ProxymanApp/atlantis/releases/tag/1.8.0

[2021-04-09 14:28] NghiaTranUIT commented on #63
Thanks. I'm updating the release note now 👍

[2021-04-09 14:32] NghiaTranUIT commented on #26
The good news here 🎉

I'm working on this ticket, so we can capture the WS/WSS from your iOS with ease.

This feature might be a reasonable solution to fix the bug that Proxyman app couldn't capture WS/WSS from URLSessionWebsocketTask (https://github.com/ProxymanApp/Proxyman/issues/586#issuecomment-720197948)

[2021-04-09 14:33] NghiaTranUIT commented on #63
I've updated the release note. Thank you for raising the ticket @justin 🎉

[2021-04-12 13:20] justin commented on #63
Thank you, @NghiaTranUIT!

[2021-04-12 13:20] #63 closed

[2021-04-13 05:21] qiudaomao opened #64 "Build to injectable jailbreak plugin deb file?"
It will be super useful to support any 3rd apps network dump by inject to process under jailbreak environment.

[2021-04-13 07:44] qiudaomao commented on #64
close via #65

[2021-04-13 07:44] #64 closed

[2021-04-15 07:15] shgew opened #69 "Atlantis not connecting to Proxyman"
My Mac and iPhone are connected to the same network and are connected by a USB cable.
However, when launching an app with Atlantis inside, it is unable to find Proxyman in the network, even if I specify hostname. It connects successfully only if I:
1. Launch the app for the first time. Atlantis successfully connects upon giving local network permission.
2. I put the app to background for a second

[2021-04-15 07:20] shgew commented on #69
I have no issues with simulator though.

[2021-04-15 07:49] NghiaTranUIT commented on #69
Not sure what might cause the connection problem 🤔

@shgew if it works 2 months ago, can you try to install the old release https://github.com/ProxymanApp/atlantis/releases

[2021-04-15 10:43] shgew commented on #69
Will do! I will post the result here.

[2021-04-15 11:38] shgew commented on #69
Installing versions 1.7.0 and 1.5.0 didn't help :\
However, relaunching Proxyman also results in immediately established connection, in addition to the two points above.
Maybe it has something to do with either macOS or iOS updates in the last two months?

[2021-04-15 14:45] NghiaTranUIT commented on #69
From what I remember, I haven't changed any major things regarding the Bonjour Service since the first build. I will investigate the bug 👍

[2021-04-15 14:51] shgew commented on #69
Thank you!

[2021-04-16 17:41] dieter115 commented on #28
Hey Guys I have been working on a POC for Android. And I made it possible to connect my application (Android phone) to a Proxyman socket on my macbook. I wrote your message ,device , project , ... objects in kotlin and I am trying to send this data gzipped json or normal json over this socket. I used Wireshark to check  the packages and connection and they were all sent to the right socket. They d

[2021-04-17 01:44] NghiaTranUIT commented on #28
Hey @dieter115, If you connect to Proxyman Socket at localhost:9090, and send the Atlantis data, it won't work.

You might have someway to consume Bonjour Service from Proxyman app. From what I googled, there is Network Service Discovery from Android, which is allowed you to discover Proxyman and send the data to. Ref: https://jaanus.com/implementing-bonjour-across-ios-and-android/

Here is the Bo

[2021-04-17 06:05] youjinp commented on #26
I've just tried this new update, and it's working with WSS from URLSessionWebsocketTask 😀! Thanks for the update!

However I also tried it on [Starscream](https://github.com/daltoniam/Starscream) and it didn't work 😕. I've read their [source code](https://github.com/daltoniam/Starscream/blob/master/Sources/Transport/FoundationTransport.swift) and it seems like they're not using `__NSURLSessionWebS

[2021-04-17 07:46] NghiaTranUIT commented on #26
@youjinp let set `useCustomEngine: false`, so Starscream can use Native Engine (URLSessionWebsocket).

[code]

[2021-04-17 07:47] NghiaTranUIT commented on #26
For low-level CoreFoundation API CFStreamCreatePairWithSocketToHost, I suppose that it's impossible to do Method Swizzling because it's a C func, not Objective-C

[2021-04-17 07:50] yphe005 commented on #26
Yep. Thought so 👍

[2021-04-17 07:52] youjinp commented on #26
Yep. Thought so 👍

[2021-04-17 11:00] dieter115 commented on #28
hey @NghiaTranUIT I'm indeed connected with the service with port 10909 and I found it through Network Service Discovery. I already used this part in my Bagel POC. I create a socket with its IP and port and send packages through it.  I'm already sending the length of the json data and then the json itself each as its own package/message. But what you mean is that you send 1 message with length of

[2021-04-17 13:02] NghiaTranUIT commented on #28
@dieter115 you can see the code how the message is constructed https://github.com/ProxymanApp/atlantis/blob/87107de8c2881dd86b6b53da6519a93048f40ed3/Sources/Transporter.swift#L115-L118

Yes, it’s one message that consists of two parts.

[2021-04-17 13:06] NghiaTranUIT commented on #28
I think that you can roughly translate to Kotlin. Please let me know if you need some help 😊

[2021-04-19 10:01] dieter115 commented on #28
Hey @NghiaTranUIT I reworked my code so it sends 1 message instead of 2 different messages.
I used this code :
1. Sending size of message as a **byte array**
[code]

This sends a message that looks like this
![image](https://user-images.githubusercontent.com/11060185/115217907-45ed7e00-a106-11eb-863c-e7616d08a6f9.png)
I think this is also how Atlantis does it ? But I also tried other formats for t

[2021-04-19 10:13] NghiaTranUIT commented on #28
[code]

@dieter115 It means the buffer will reserve 8 bytes to store the `lengthPackage`, which is in bytes too.

Here is how Proxyman app get the Atlantis message
1. First of all, Proxyman will read 8 bytes on the stream and parse it to UInt64 to know the message length
[code]
2. After getting the `length`, Proxyman tries to read the message
[code]

-----------------
From what I see in your code

[2021-04-19 11:16] dieter115 commented on #28
@NghiaTranUIT The first approach I tried was using the same code as with Bagel. But here I send **2** messages over the socket 1 with length of message and 1 with the message data. It works with Bagel but Proxyman doesn't seem to show my sent data.. Like you can see in the picture of the message I sent.. The length of the message reservers / takes 8 bytes.

So like Bagel
[code]

Force it as  1 mes

[2021-04-30 16:47] ski081 commented on #69
Hi. I'm having the same issue, except I cannot get a connection to work at all. I see the following logs when my app startup from Xcode:

---------- 🧊 Atlantis is running (version 1.0)
---------- Github: https://github.com/ProxymanApp/atlantis
---------------------------------------------------------------------------------
[Atlantis] Looking for Proxyman app in the network...
[Atlantis] Found Pro

[2021-05-01 02:20] NghiaTranUIT commented on #69
@ski081 please update your Atlantis to the latest [version 1.9.0](https://github.com/ProxymanApp/atlantis/releases/tag/1.9.0) to make it works with the latest version of Proxyman 2.24.0

There is a major update regarding the Bonjour Service since version 1.0 👍

[2021-05-03 16:24] ski081 commented on #69
Hi.

I installed via Swift Package Manager, and the version shows as 1.9.0 in Xcode. Although the console printout shows 1.0. Should I try to install via CocoaPods instead?

[2021-05-04 03:40] NghiaTranUIT commented on #69
Look like it's a bug when installing via SPM (not show the version correctly).

Regarding why you could not connect to Proxyman, there are many reasons and one of them is the cooperated network might block Bonjour Service. Therefore, Atlantis could not discover and connect to Proxyman.

Please try running on your simulator, and see if you can see the traffic @ski081

[2021-05-04 03:42] NghiaTranUIT commented on #69
I tested via CocoaPod
- Able to see the traffic from iOS Simulators
- Unable to see the traffic at my cooperated wifi (it blocks Bonjour Service)
- but I'm able to see the traffic at my home Wifi.

[2021-05-07 19:21] ski081 commented on #69
Hi @NghiaTranUIT. I am seeing the same. When on my corporate VPN, I cannot see traffic from the device, even when it is connected via a cable. It will discover the running instance of Proxyman on my Mac, but will not capture traffic.

Do you know if there is any way around this? Or would I need to start working with my support team to unblock incoming traffic for specific ports?

[2021-05-08 02:07] NghiaTranUIT commented on #69
@ski081 can you try to disable all VPN apps from your macOS and iOS device 🤔

For Bonjour Service, Proxyman opens port 10909. Please check with your security team if they block it 👍

[2021-05-08 18:23] Jazzykhan opened #70 "Can i use this to make an app which block domains on ios device?"
Hi, i do not want to log traffic or intercept traffic. i want to use it to develop a website which can block websites like porn, betting sites.
For example: proxyman app is good which has block list.
For example: BlockSite app is good which block websites on ios device.
please help.

[2021-05-09 01:50] NghiaTranUIT commented on #70
Sorry, Atlantis doesn't allow you to block traffic to websites. Atlantis is for capturing traffic from your iOS Devices, then inspecting them in Proxyman for macOS 👍

[2021-05-12 19:56] djbe commented on #28
Quick update: @dieter115 and I were able to get a PoC working with Proxyman today, the issue had nothing to do with the message size / byte reservation.

After using Wireshark and temporarily disabling gzip compression in Atlantis, we found the issue: as a side effect of using `Codable`, it'll automatically base64 encode any `Data` property. This is something that Proxyman does that's quite differ

[2021-05-12 20:05] djbe opened #71 "Send request to Proxyman on start of request"
Based on https://github.com/ProxymanApp/atlantis/issues/28#issuecomment-840056741:

Right now, Atlantis only sends a message to Proxyman when a requests finishes (success or failure). But, since `TrafficPackage` have an ID ([here](https://github.com/ProxymanApp/atlantis/blob/main/Sources/Packages.swift#L55)), nothing should stop us from sending the info before the start of a call, and then when a

[2021-05-13 02:45] NghiaTranUIT commented on #28
Thanks for your input @djbe

Yes, it's. Codable automatically encoded the raw data to base64. I intentionally use it for easier implementation.

You're right. It's the main difference between Bagel and Proxyman.

Instead of sending two parts (Request and Response) of the 1 request, Atlantis accumulates it. and send ONCE when it's done. It increases the performance of your app has a large number of

[2021-05-13 02:48] NghiaTranUIT commented on #71
I'm afraid it's too difficult to change the logic from Atlantis and Proxyman, which is live on the Production.

I would highly recommend that you might update your Kotlin code to send a message to Proxyman in a single package (when you have a Request and a Response)

[2021-05-13 14:32] djbe commented on #71
Note that for #28, we've indeed changed the logic for now to only send it once. I made a separate issue for this, as it could be an improvement in general, especially for long lived network operations.

While it would indeed require changes to Proxyman itself, it wouldn't be the first time Proxyman or Atlantis require a new (or minimum) version of each other? See for example the latest Atlantis 1.

[2021-05-22 14:59] djbe opened #72 "Handle multiple devices (Proxyman instances)"
One thing we noticed during the implementation of [Atlantis for Android](#28), is that Atlantis only maintains one connection (task, see [here](https://github.com/ProxymanApp/atlantis/blob/main/Sources/Transporter.swift#L39)) in total.

Whenever it finds and resolves a new service (i.e. a new Proxyman instance), it connects to it. In the process of establishing that connection, it [closes any prev

[2021-05-27 02:16] NghiaTranUIT commented on #72
Sorry for the late reply. I completely missed it.

At the moment, as you mention, Atlantis only maintains one connection. I don't think it's a good idea if we support multiple connections by default.

If one user starts Atlantis with default param:
[code]
Then, all colleagues, who are opening Proxyman, can see the traffic. Even though they don't want to.

It also a reason why we introduce the host

[2021-05-27 02:41] NghiaTranUIT commented on #26
@youjinp Just a friendly reminder that Atlantis has supported WS/WSS from URLSessionWebSocketTask 👍

Release: https://github.com/ProxymanApp/atlantis/releases/tag/1.9.0

[2021-05-27 13:20] djbe commented on #72
The thing is, Atlantis doesn't support multiple connections **at all** right now. What happens right now is more undefined behaviour, whichever is the latest Proxyman instance to be detected, is the one it will connect to (all the other ones it will connect to, and disconnect once a new one is discovered).

Bagel has the same option of defining a hostname, and sure, keep that, it's good to have th

[2021-05-29 15:36] shgew commented on #69
Would like to mention that the issue is extremely rare after the v1.9.0. It happened only one or two times after the update. Thank you for the fix!

[2021-05-29 15:36] #69 closed

[2021-05-31 17:48] dieter115 commented on #28
@NghiaTranUIT Me and my colleague David made it possible to send packages to Proxyman. But I still have a question.. I was making the feature where you can limit the Mac's you connect with. I copied this from my Bagel implementation but then I saw a difference. When I find bagel in the network discovery code it gives me a name like "macbook Dieter" but when i discover Proxyman services I get names

[2021-05-31 18:57] djbe commented on #28
Right so the difference with Bagel is that Bagel sets the **service name** to the **hostname**, whereas Proxyman sets the service name to some random identifier (like @dieter115 posted).

We've tried switching to using `InetAddress`' `getHostName()` and `getCanonicalHostName()`, but neither work well. It usually just returns the host's IP address instead of a nice network name. I'm not sure there'

[2021-06-01 02:52] NghiaTranUIT commented on #28
Glad to know you finally send a request to Proxyman 🥇 @djbe @djbe 👍

You're right about the Proxyman Service Name, which is `Proxyman-uuid`. I intentionally added the suffix to prevent `NSNetServicesCollisionError` if we have multiple Proxyman apps in the same network.

Please try this beta build, I improve the Service Name to `Proxyman-<host_name>` as Bagel does. (I believe that hostname is uniqu

[2021-06-01 19:16] djbe commented on #28
Quick update: tried that beta build, and got this as a service name:

Whereas the laptop's name is `MacBook-Pro-van-dieter-2`, so no idea where it's getting that name. At first glance seems like a combination of ipv6 address and ISP (telenet).

[2021-06-02 02:00] NghiaTranUIT commented on #28
@djbe can you clarify how you get this name? 🤔 It'd be great if we have a sample code that I can test out

I tested with [Discovery app](https://apps.apple.com/us/app/discovery-dns-sd-browser/id1381004916?mt=12), which lists all available Bonjour services.

- In the latest build, the hostname has a UUID as a suffix
<img width="587" alt="Screen Shot 2021-06-02 at 08 54 19" src="https://user-images.

[2021-06-02 21:04] dieter115 commented on #28
hey @NghiaTranUIT it depends on the network it seems !  So you were right !!
On the network in the office I get right hostname

![image](https://user-images.githubusercontent.com/11060185/120551885-d5b96400-c3f6-11eb-8f48-d08ed16e1e09.png)

at home I get this

![image](https://user-images.githubusercontent.com/11060185/120551858-ce925600-c3f6-11eb-9167-a22a08d2843e.png)

[2021-06-02 23:25] djbe commented on #28
What @dieter115 forgot to mention was that the device name / hostname / ... when going to "Certificates > iOS > Atlantis" is correct. Is Proxyman using different code to set that service name (in the beta build) compared to that view?

[2021-06-03 01:16] NghiaTranUIT commented on #28
In the beta build, I use `Host().current.name`, which returns a Host/Computer name in the network.

It's the same result when executing the following code on the Terminal app

[code]

<img width="1677" alt="Screen Shot 2021-06-03 at 08 11 29" src="https://user-images.githubusercontent.com/5878421/120570921-52722f80-c443-11eb-9a1b-f5f75ebfdf94.png">
<img width="780" alt="Screen_Shot_2021-06-03_at_0

[2021-06-04 10:48] mluisbrown opened #74 "Atlantis uses huge amounts of memory if Proxyman isn't running"
We have Atlantis in our app, and the app receives a *lot* of web socket messages. If Proxyman isn't running, all these messages (and any other network requests) get appended to `pendingPackages` here: https://github.com/ProxymanApp/atlantis/blob/main/Sources/Transporter.swift#L95

There seems to be no limit on the size of this array, so this will continue until the app runs out of memory, or Proxy

[2021-06-04 10:52] NghiaTranUIT commented on #74
It's a good point 👍

I suppose that I will add a limit (50 items at max or Receiving the Memory Warning), then it will release all pending data.

Let me fix it 💯

[2021-06-04 13:17] #74 closed

[2021-06-04 13:31] NghiaTranUIT commented on #74
Just a friendly reminder that this issue is fixed and released. Please check it out 😄 @mluisbrown

[2021-06-04 13:38] mluisbrown commented on #74
Thank you so much for the amazingly fast turnaround 🙏

[2021-06-09 14:32] axnmax opened #76 "Atlantis for iOS stopped working after upgrading to Mac OS Big Sur"
Hi Team,

After I upgraded my Mac to Big Sur, my Atlantis is not able to track the network traffic in Proxyman. Can anyone help to resolve this issue?

Thanks in advnce.

[2021-06-09 14:36] NghiaTranUIT commented on #76
Hey @axnmax, I'm using Big Sur and I would like to clarify that Atlantis works fine here 👍

To investigate, please help me:
1. Make sure you turn OFF the Firewall in System Preference -> Security & Privacy -> Firewall
2. Please update to the latest Atlantis with `pod update`

and use the following code to connect to your macOS

[code]
You can find the hostname in the Atlantis window from Proxyman

[2021-06-09 15:18] axnmax commented on #76
Hi @NghiaTranUIT,

I followed the steps as described by you.
Still it does not work for me. It used to work perfectly for me before I upgraded to Big Sur.

[2021-06-09 15:27] NghiaTranUIT commented on #76
I just tested again and it works with Atlantis 1.10.0 and Big Sur. I'm not sure why Atlantis doesn't work in your end 🤔

When you open Atlantis, do you see any log message like:
[code]

If Bonjour Service finds any Macbook which has Proxyman, it will list it
[code]

If you could not see anything, look like your network is blocking the Bonjour Service @axnmax

[2021-06-09 15:58] axnmax commented on #76
Yes I am able to see the logs as you mentioned. But the Proxyman does not show any traffic.

---------------------------------------------------------------------------------
---------- 🧊 Atlantis is running (version 1.10.0)
---------- Github: https://github.com/ProxymanApp/atlantis
---------------------------------------------------------------------------------
[Atlantis] Looking for Proxyman ap

[2021-06-10 01:41] NghiaTranUIT commented on #76
Look like it's a bug @axnmax 🤔

Atlantis is connecting to Proxyman, but it doesn't send any message.

If you don't mind, please help me to debug:
1. Start Proxyman and Atlantis => Make sure you can see the log: `[Atlantis] ✅ Connect to axnmax.local.`
2. Set a breakpoint on two place:

- https://github.com/ProxymanApp/atlantis/blob/9d125e08268437e4231bcbae99cccb337d5ee5df/Sources/Transporter.swift#

[2021-06-10 05:30] axnmax commented on #76
The control only reaches line 109. It did not go to lone 114 and 137 anytime.

[2021-06-10 05:32] NghiaTranUIT commented on #76
Thanks for getting back to me. Just wondering:

1. Which iOS version are you using?
2. Are you using Atlantis on a real iOS Device or iOS Simulator? 🤔

[2021-06-10 05:42] axnmax commented on #76
1. iOS 13.2.3
2. Real iOS Device

Also there is an update on the breakpoints, last time it did not connect to the local host.  The control only reaches line 114. It did not go to line 109 and 137 anytime.

[2021-06-10 05:50] NghiaTranUIT commented on #76
Thanks. I will investigate the bug. Meanwhile, please try on iOS Simulator, it should work 😄

[2021-06-22 17:27] justin opened #77 "Crash on launch in swizzleWebSocketReceiveMessageWithCompleteHandler"
This seems to be intermittent but I have had it happen on two different machines multiple times in the last week or two.

Line 27 of `AtlantisHelper.m`
Thread 2: EXC_BAD_ACCESS (code=1, address=0x8)

It's in the simulator so I am not sure how to get a crash log for that. Happy to help with any other information I can provide though.

Atlantis version: 1.10.0
Proxyman version: 2.28.0 (and previousl

[2021-07-06 13:16] justin opened #80 "tvOS compilation broken by iOS 13 requirement"
**Steps to Reproduce**

1. Make a tvOS Xcode project. Doesnt really need any code.
2. Add the Atlantis package to the project.
3. Compile

**Additional Notes**

The Package.swift file declares the minimum target as tvOS 11, but there are pieces that require tvOS 13 causing the compilation to fail.

[2021-07-06 13:19] NghiaTranUIT commented on #80
Thanks for the bug report. I will check out this week 👍

[2021-07-07 11:20] NghiaTranUIT commented on #80
@justin please check the update 1.11.2. It would fix your issue 👍

[2021-07-07 11:33] VasylKhmil commented on #77
Same for me

[2021-07-07 12:35] NghiaTranUIT commented on #77
@VasylKhmil @justin Can you share with me what iOS version you are using?

[2021-08-17 09:56] andy3a opened #82 "getAllClasses() goes in a loop"
Hi Nghia,

I faced with the situation when device/simulator starts consuming huge memory amount and hangs as a result. I don't know why this happens, because this is not a persistent issue and it appears from time to time (I don't see specific cause).

This is the evidence from Debug navigator:
![image](https://user-images.githubusercontent.com/87482167/129703252-863975aa-1e08-4490-bef0-891b03a84d

[2021-08-17 10:24] NghiaTranUIT commented on #82
Hey @andy3a thanks for your report.

`Runtime.getAllClasses()` should only be executed **once** when the app is starting. If it executes multiple times (as your screenshot), I suppose there is a bug somewhere.

I will replace it with a better version and send you a beta this week 👍

[2021-08-17 10:28] NghiaTranUIT commented on #82
Just wondering:
1. Are you using any 3rd-party networking library? such as AFNetworking, or Alamofire? If yes, what version?

I would like to reproduce it in my machine 💻

[2021-08-17 10:42] andy3a commented on #82
yes, I'm using Alamofire 5.4.3

[2021-08-17 13:27] NghiaTranUIT commented on #82
Hey @andy3a if you don't mind, please check out this commit and share with me if it works for you 👍
### Changelog
- Use a different version to get all classes that conforms NSURLConnectionDelegate in runtime

### SMP
- Check out this commit: `70425e4a0895ec483dfdb5b99cfba91bec6ac935`
<img width="569" alt="Screen Shot 2021-08-17 at 20 22 06" src="https://user-images.githubusercontent.com/5878421/12

[2021-08-17 14:06] andy3a commented on #82
thanks for you effort @NghiaTranUIT

successfully deployed the commit.

I'll need to use it for couple days to see if the issue can be reproduced unless you know how to reproduce the situation when the issue appeared in previous version

cheers

[2021-08-17 16:08] andy3a commented on #82
hi @NghiaTranUIT,

I have reproduced the issue:
![image](https://user-images.githubusercontent.com/87482167/129761399-a07c0325-ced7-4653-886d-cc09b95cc9a2.png)
![image](https://user-images.githubusercontent.com/87482167/129761493-121a15fa-7186-40d2-ad78-8747d42333d5.png)
![image](https://user-images.githubusercontent.com/87482167/129761644-ee3bdaa2-e827-4f39-8c1d-44f11cceda65.png)

[2021-08-18 06:16] NghiaTranUIT commented on #82
It's odd that this array of AnyClass doesn't release when it exits the function 🤔

@andy3a Please try this commit `29088bc9b752498cdb74051c962855f2de77e52a`, which I disable the Method Swizzling on NSURLConnection.

[2021-08-23 19:31] andy3a commented on #82
Hi @NghiaTranUIT,

I'm sorry but the issue has been reproduced again.

![image](https://user-images.githubusercontent.com/87482167/130507244-142ae151-33b7-4f94-9701-da869d4209cc.png)

... for the latest fix provided
![image](https://user-images.githubusercontent.com/87482167/130507371-4dedc47d-2329-4cbd-a39c-4308c4d092dd.png)

I could provide some details form Profiler if needed. Feel free to requ

[2021-09-09 19:11] khoogheem opened #84 "Should find a previous WS Package!"
Proxyman version? 2.32.1 (23210)

macOS Version? 11.4

Steps to reproduce

when proxyman is not running... I get these issue:

Fatal error: Something went wrong! Should find a previous WS Package! Please contact the author!: file Atlantis/Atlantis.swift, line 358

[2021-09-10 07:30] #57 closed

[2021-09-10 14:02] khoogheem commented on #72
Yep. I would love to see proxyman work correctly when you have the same Application running on Device and on Simulator.
Currently Proxyman shows both devices.. but the data that gets displayed seems to be the same across both devices, but it its the data from the first connected device

[2021-09-21 23:02] wayne800 opened #85 "iOS crash opening camera"
iOS: This crash is gone without starting Atlantis.

![Screen Shot 2021-09-21 at 4 00 50 PM](https://user-images.githubusercontent.com/83689709/134258645-93cf905a-71ab-42d3-bccf-d83f336646f3.png)

[2021-09-22 01:59] NghiaTranUIT commented on #85
Thanks, I will check out this week 👍

[2021-10-02 01:20] #4 closed

[2021-10-11 03:32] wxcree opened #88 "iOS Jailbreak Device Support"
Can you release a jailbreak plugin that can globally intercept requests on jailbroken devices?

[2021-10-11 03:33] NghiaTranUIT commented on #88
Sorry but I don't have much experience on jailbreak devices, so I can't help you 😿

[2021-10-11 04:04] #88 closed

[2021-11-02 21:57] archcorsair commented on #56
I'm running into this exact issue.
React Native project - Running on M1 (arm64)
I've confirmed the pod was installed, it shows up in `Podfile.lock`.
Tried cleaning before building and it did not help.
![image](https://user-images.githubusercontent.com/1036921/139956962-bb3075e1-ed6a-40e5-8f64-965e6aabfe59.png)

[2021-11-02 23:39] archcorsair commented on #56
# Solution
🎉 I found a working solution using a plugin called [cocoapods-user-defined-build-types](https://github.com/joncardasis/cocoapods-user-defined-build-types)

1. Install the gem: `$ gem install cocoapods-user-defined-build-types`
2. Add these above your target in `Podfile`
[code]
3. Add atlantis pod:
[code]

This fixed my issue and Atlantis works perfectly.

[2021-11-03 00:01] archcorsair commented on #15
I'm currently experiencing this issue.
For example: `User-Agent` is being stripped when I use Atlantis, but when I do a manual proxy it is included.

[2021-11-03 00:55] NghiaTranUIT commented on #56
Awesome 👍 I might add a public header to in SPM, so you can use SPM on Objective-C project 👍

[2021-11-03 01:11] apostopher commented on #56
that's great news! thanks, @archcorsair for the solution. and a million thanks to @NghiaTranUIT for the awesome proxyman and atlantis!

do you have plans to support android too?

[2021-11-03 01:13] NghiaTranUIT commented on #56
Unfortunately, I don't have any plan to bring Atlantis to Android because I have no experience on Android and Atlantis is heavily depends on Method Swizzling and URLSession, which are not available on Android world.

[2021-11-03 01:25] NghiaTranUIT commented on #56
It seems that adding the public header to use SPM on the Objective-C project is not possible in terms of technical limitations. Thread: https://forums.swift.org/t/how-to-import-swift-package-into-objective-c-using-xcode/43978/15

[2021-11-08 15:41] NghiaTranUIT commented on #72
@RiyanFransen @djbe Good news that I'm working on this essential feature at https://github.com/ProxymanApp/atlantis/pull/90

I will test with multiple Proxyman app on different Mac devices this week and send you guys a beta build soon 🙌

Thanks again for following up 🥇

[2021-11-08 23:49] pokryfka commented on #24
@NghiaTranUIT Not sure what is the status of that since README does mention Carthage https://github.com/ProxymanApp/atlantis#carthage

Regardless, it fails for me, please see details below.

## Steps:

1. `echo 'github "ProxymanApp/atlantis"' > Cartfile`

2. `carthage update --use-xcframeworks --platform iOS`

### Result

[code]

[2021-11-22 13:18] NghiaTranUIT commented on #72
and I would say sorry for the delay on this feature implementation 🙇

[2021-11-22 13:25] djbe commented on #72
Fantastic news! :tada: Will have to try it when I'm back in the office (currently on holidays).

[2021-11-23 02:13] NghiaTranUIT commented on #72
Feel free to keep it open until we're happy with this update 👍

[2021-11-24 13:32] RiyanFransen commented on #72
@NghiaTranUIT Awesome big thanks! Unfortunately now we aren't permitted to go to the office with a big group so I won't be able to confirm the feature/fix in the foreseeable future. Feel free to close the issue, we'll give a heads up if we spot something!

[2021-12-13 12:11] RiyanFransen commented on #72
@NghiaTranUIT We are happy with the update, issue can be closed. Many thanks for the enhancement!

[2021-12-13 15:12] NghiaTranUIT commented on #72
You're welcome @RiyanFransen 🎉

[2022-01-24 09:31] swiatrzyk commented on #85
I'm also experiencing app crashes after Proxyman update to 3.0.0

[2022-01-31 00:30] pokryfka commented on #24
👋

[2022-02-01 00:06] kjoe07 commented on #84
got this same crash any news on it

[2022-02-01 01:55] NghiaTranUIT commented on #84
@kjoe07 Just wondering: Which Atlantis version and your iOS version are you using? I could not reproduce this issue in the last time and I'd like to investigate it again 👍

[2022-02-01 02:23] kjoe07 commented on #84
iOS 15.3 Xcode 13.2.1 macOS Monterrey proxyMan latest version, Install with swift package manager using urlSession for sockets, chafed to 1.14.0 and 1.9.0 and got the same error every time also have amplify as dependency and guess is using starscream

[2022-02-01 03:47] NghiaTranUIT commented on #84
@kjoe07 if you're using Starscream to perform the Websocket, do you use `NativeEngine` by setting `useCustomEngine: false`?

for example:
[code]

Ref: https://github.com/daltoniam/Starscream/blob/c68359159dcf0b5de9b536b9a959e9e435e968d3/Sources/Starscream/WebSocket.swift#L118

------------

It's because, by default, Starscream would use TCPTransport rather than URLSessionWebsocketTask behind the h

[2022-02-01 05:38] kjoe07 commented on #84
I now I don't use start scream it's a dependency for amplify not for my app my sockets connections are handle with url session

[2022-02-09 16:56] messi commented on #28
I am excited to read that @dieter115 and @djbe found a way to bring Atlantis to Android. What's the progress on this work? Is there any plan to make this official? And if not, is there any way to profit of that work and get some code snippets? :)

[2022-02-19 12:01] mRs- opened #93 "Better gRPC Support through gRPC Interceptors"
Hi, I'm currently implementing a gRPC Interceptor to track all the traffic via atlantis.

It's working fine currently, but for streaming it would be awesome to have some API to support streaming like WebSocket is aready doing it. Is it possible to expose this to the public manual API? I can even share the complete interceptor for gRPC later on and it would be easy for other projects to just implem

[2022-02-19 14:53] NghiaTranUIT commented on #93
It's awesome if you can share the complete interceptor of gRPC. We will integrate it into Atlantis 🎉

Yes, it's as long as I know which funds that you need to be public 👍

[2022-02-20 12:42] mRs- commented on #93
Seems like I have the first breakthrough!

<img width="1453" alt="image" src="https://user-images.githubusercontent.com/736421/154842994-8616a205-7eee-4c06-adcc-e704c68cabf3.png">

[2022-02-20 13:27] NghiaTranUIT commented on #93
Awesome 🎉 If you don't mind, please open a PR. I believe that it can be beneficial for gRPC developers 😄

I appreciate it 👍

[2022-02-21 08:07] mRs- commented on #93
You can find my Pull Request here: https://github.com/ProxymanApp/atlantis/pull/94

[2022-03-07 05:12] sjmueller commented on #28
We're also interested in Android support. What's really confusing is that the [Proxyman repo README](https://github.com/ProxymanApp/Proxyman) advertises Android, yet it is absent in Atlantis?

[2022-03-07 06:15] NghiaTranUIT commented on #28
@sjmueller Atlants is written by Swift, so it only supports iOS, macOS, tvOS, watchOS.

Regarding the readme, it means Proxyman can capture from Android Devices (Without using the Atlantis Framework). Please check out this doc: https://docs.proxyman.io/debug-devices/android-device

For the Android Emulator, Proxyman also provides the automatic script to do the boring part for you (Override HTTP Pr

[2022-03-09 01:24] pokryfka opened #95 "Support URLSession async methods"
Traffic from URLSession async methods is not forwarded to Proxyman.

[code]

[2022-03-09 01:25] #95 closed

[2022-03-09 01:25] pokryfka commented on #95
my bad, the problem was elsewhere

[2022-03-16 22:46] wayne800 commented on #85
We do have the crash in iOS 15 or above.

[2022-03-17 18:17] zhejia0428 commented on #85
Working with @wayne800 we discovered the crash breakpoint is inside a Proxyman method.
<img width="1600" alt="Screen Shot 2022-03-17 at 1 16 28 PM" src="https://user-images.githubusercontent.com/3178137/158869335-6cb8a1f3-ec1c-496f-b544-13da0130520b.png">

[2022-03-18 05:29] NghiaTranUIT commented on #85
Thanks @zhejia0428 @wayne800. I'm working on it now 👍

[2022-03-18 06:46] NghiaTranUIT commented on #85
@zhejia0428 @wayne800

I tested with iOS Simulator 15.2 and My iPad 15.2, but I could not reproduce it. The code is successfully executed without crashing.

<img width="1767" alt="Screen Shot 2022-03-18 at 13 36 23" src="https://user-images.githubusercontent.com/5878421/158949884-1de806f5-de8c-404c-9127-9c01d3f8a90d.png">

### Code
[code]

-----------
1. It seems you're using the old Atlantis vers

[2022-03-31 12:20] r-plus opened #98 "Swift gRPC plugin for protoc"
We should write all of the `YourClientInterceptorFactoryProtocol` protocol defined methods for gRPC like this.

[code]

It would be nice if it could be generated automatically by grpc plugin including AtlantisInterceptor implementation that wrote on README to reduce the hassle like [swift-grpc plugin](https://github.com/grpc/grpc-swift/tree/main/Sources/protoc-gen-grpc-swift).

[2022-04-10 08:50] NghiaTranUIT commented on #98
Thanks but I'm not sure how to tackle this.

[2022-05-04 09:10] dieter115 commented on #28
@messi Sorry for the late reply but we made it work and are using it in our Android projects. At the moment I haven't found a way to catch all the network traffic but I made something that works with Retrofit and Okhttp and sends the requests/responses to Proxyman. If you want I can put in on a seperate repo? If thats ok for @NghiaTranUIT .

[2022-05-04 09:22] NghiaTranUIT commented on #28
Yes, please @dieter115 🥇 I will test again and link to your repo, so Atlantis-Android can work with Proxyman 🙌

[2022-05-05 07:25] valentinperignon opened #99 "Atlantis.start() produces EXC_BAD_ACCESS"
With Atlantis 1.16.0 and Xcode 13.3.1, running Atlantis.start() sometimes produces a EXC_BAD_ACCESS error (in NetworkInjector:injectAllURLConnection() function).
The error does not occur with Xcode 13.3.0.

[2022-05-05 07:27] NghiaTranUIT commented on #99
I'd like to reproduce it:

1. Which iOS version are you using?
2. Does it happen on iOS Simulator or Physical devices?

[2022-05-05 07:31] valentinperignon commented on #99
1. We are using iOS 15.4
2. It happens in both iOS Simulator and Physical devices (tested on iPhone 13 Pro)

[2022-05-05 07:54] NghiaTranUIT commented on #99
Thanks. I'm checking out tonight 👍

[2022-05-06 03:39] NghiaTranUIT commented on #99
@valentinperignon if you don't mind, when the exception occurs on `NetworkInjector:injectAllURLConnection` please share with me the screenshot that shows the number of lines 👍

I'd like to investigate it since I'm unable to reproduce it.

[2022-05-06 14:35] NghiaTranUIT commented on #99
Hey @valentinperignon let's try this branch:

### Changelog
- I decide to remove all legacy support (In this case, it's NSURLConnection). It's where your crash occurs.

### How to install
#### Cocoapod
[code]

### SPM
- Checkout this commit: `379e15a9a24856fee583135d353326fbed2960ca`

---------------------
Let me know if it works for you 👍

[2022-05-09 07:28] valentinperignon commented on #99
After several tests, the app doesn't seem to crash anymore 🥳

[2022-05-10 07:01] NghiaTranUIT commented on #99
Just a friendly reminder that I've released Atlantis 1.17.0. It fixes the bug 🐛

[2022-05-10 07:07] #99 closed

[2022-06-07 05:19] ttuygun opened #102 "Atlantis multiple requests problem"
There is no problem when we connect over proxy with Proxyman but when I inspects requests with Atlantis, I can see multiple requests problem.

[2022-06-07 05:34] NghiaTranUIT commented on #102
Can you elaborate on what "request problem" is?

Does it means:
- You get a bunch of SSL Error requests?
- Could not see any traffic or anything else?
- You test with iOS Simulator or iOS physical device?

--------------------
From what you mention `connect over proxy with Proxyman but when I inspect requests with Atlantis `, it seems that you set the HTTP Proxy (from iOS devices) to Proxyman, the

[2022-06-07 20:56] ttuygun commented on #102
Multiple requests mean I can see GET, POST or any other requests recursively for same requests.
Connections over Atlantis:
Request 1
Request 1
Request 1
Request 2
Request 2

Connection over proxy:
Request 1
Request 2

There is no problem with connection over proxy.
1. There is no error on requests.
2. Yes, I can see lots of duplicated 200 status coded same requests
3. It's on iPad physical device

[2022-06-08 02:31] NghiaTranUIT commented on #102
Thanks. Can you clarify what iOS, Atlantis, and Proxyman versions you're using?

I guess that you're using the latest build?
- iOS 15.5
- Proxyman 3.5.2
- Atlantis 1.17.0

[2022-06-08 07:00] ttuygun commented on #102
Right, all the latest except iOS 15.4.1

[2022-06-09 03:20] JohnnyTseng opened #104 "Unable to build on Xcode 14.0.0 beta"
![Screen Shot 2022-06-09 at 11 19 39](https://user-images.githubusercontent.com/2656519/172757072-e05e2d32-83c5-46bb-ba5e-b541f3eb9851.png)
![Screen Shot 2022-06-09 at 11 19 45](https://user-images.githubusercontent.com/2656519/172757078-57c40519-c480-4745-8131-a4c9a619ea6c.png)

Am finding a way to fix this issue, will share if there is any solution!

[2022-06-09 03:38] #104 closed

[2022-06-09 23:43] esteluk commented on #104
You've closed the issue - did you identify a fix for this?

[2022-06-10 09:15] ttuygun commented on #102
Problem can reproducable? Can I need to send logs?

[2022-06-13 12:50] kabirkhaan opened #106 "Fix Typo startetAt [MINOR]"
Starting from https://github.com/ProxymanApp/atlantis/pull/94/files
there is a typo `startetAt` which should `startedAt`

I created the following PR to fix the issue
https://github.com/ProxymanApp/atlantis/pull/105

[2022-06-14 06:39] #106 closed

[2022-06-15 02:06] NghiaTranUIT commented on #24
Hey @saim80 @pokryfka since Atlantis is a pure SPM (no `xcproject` file), so Atlantis doesn't work well.

@saim80 please try this branch instead
[code]

I generated the `xcproject` file and it should work 👍

[2022-06-15 02:07] NghiaTranUIT commented on #24
It's quite tricky to set up Carthage work with xcframework, so I still highly suggest using the Swift Package Manager because it's straightforward to integrate Atlantis into your project.

[2022-06-25 20:54] doncl opened #107 "Doesn't compile with Xcode 14 beta 2"
title says it all; there's no reason you have to make it work, but you're going to have to sooner than later.    We compile with 'warnings as errors' on - not sure if this was just warnings or errors, but bottom line, it breaks out build.

[2022-06-26 01:41] NghiaTranUIT commented on #107
Thanks for the report @doncl

Do you use Xcode 14 beta 2 on Monterey or the new macOS Ventura?

[2022-06-26 01:55] doncl commented on #107
I've done both, same result.

On Sat, Jun 25, 2022 at 6:42 PM Nghia Tran ***@***.***> wrote:

[2022-06-28 07:21] NghiaTranUIT commented on #107
@doncl please checkout tag 1.18.0, I've fixed the issue on Xcode 14 beta 2 👍

[2022-07-15 21:22] stevelandeyasana commented on #24
This is marked 'done', and the README has Carthage instructions, but I still get this error message. Here's my Cartfile line:

[code]

[2022-07-16 02:16] NghiaTranUIT commented on #24
@stevelandeyasana It's merged and released on Atlantis 1.18.1 👍 : https://github.com/ProxymanApp/atlantis/releases/tag/1.18.1

[2022-07-19 17:54] stevelandeyasana commented on #24
Thank you so much, works great!

[2022-07-29 20:19] ttuygun opened #112 "Carthage can't build 1.18.2"
I successfully build with 1.18.1 but 1.18.2 can't build with carthage

Console:
xcodebuild timed out while trying to read Atlantis-Example-App.xcodeproj 😭

carthage 0.38.0 (installed with brew to m1 mac)
macOS 12.4
Xcode 13.4.1
Xcode build version: Xcode 13.4.1 Build version 13F100
Command:  carthage update --use-xcframeworks --cache-builds

[2022-07-31 10:55] NghiaTranUIT commented on #112
I'm not sure what happened, but I'm able to integrate Atlantis 1.18.1 with Atlantis 🤔

<img width="889" alt="Screen Shot 2022-07-31 at 17 54 01" src="https://user-images.githubusercontent.com/5878421/182022771-c70aeddb-2e3e-4a49-8489-454025f4e917.png">

----------
Maybe you should remove the `--cache-builds`

[2022-07-31 11:21] ttuygun commented on #112
OK, I solved it. No specific problem in the tag

[2022-07-31 11:21] #112 closed

[2022-08-05 14:37] ChrisMash opened #113 "Atlantis is conflicting with my URLProtocol"
The Atlantis library has been really useful  because I couldn't get a working setup with just the Proxyman macOS app due to VPN issues (though have just managed to hopefully finally resolve that by using the allow-list!) and Alantis actually managed to get network logs working!

_But_ there were some quirks regarding how Atlantis intercepts the network traffic and my app's own networking complexit

[2022-08-10 14:32] pchmelar commented on #107
I was on 1.16.0 and was experiencing problems in Xcode 14 beta 3, updating Atlantis to 1.18.x fixed the issue 👍

[2022-08-11 15:11] StanislavMayorov commented on #56
Http proxy works fine  in RN project using cocoapods-user-defined-build-types solution, but websocket doesn't work. Is it possible to extend RN implementation to support atlantis?

[2022-08-19 22:34] Cassss747 opened #114 "Il"

[2022-08-19 22:35] #114 closed

[2022-08-22 16:47] r-plus commented on #98
In past, I thought creating protoc plugin for this purpose is good idea.
But now I'm thinking creating plugin plan that generated code will completely depend on grpc-swift's protoc-gen-grpc-swift is not good for Atlantis.

Thanks.
I'll open issue when I got more good robust idea.

[2022-08-22 16:47] #98 closed

[2022-09-05 01:54] NghiaTranUIT commented on #113
Sorry for the late reply. I totally missed your issue 😿

Going to investigate it 👍

[2022-09-05 05:02] JohnnyTseng commented on #112
@ttuygun Can you share how did you solve it?

[2022-09-05 06:36] NghiaTranUIT commented on #112
@JohnnyTseng just use the latest version. Can you share with me the error log when integrating via Carthage?

[2022-09-05 06:56] JohnnyTseng commented on #112
@NghiaTranUIT I'm using the latest version `1.18.2`, the log appears the same as @ttuygun
so strange

![Screen Shot 2022-09-05 at 14 55 40](https://user-images.githubusercontent.com/2656519/188383666-53055a9e-750d-4f46-8e3f-fe294bd187db.png)

- Xcode 13.4.1
- Carthage 0.38.0

[2022-09-05 06:58] JohnnyTseng commented on #112
I found similar issues, wondering if it's the same issue cc @NghiaTranUIT
https://github.com/realm/realm-swift/issues/6549

[2022-09-05 07:05] NghiaTranUIT commented on #112
Can you try to use `carthage update --use-xcframeworks`. It works fine with Xcode 13.4.1 and iOS 15.5.

<img width="874" alt="Screen Shot 2022-09-05 at 14 04 25" src="https://user-images.githubusercontent.com/5878421/188384986-ee7829e7-6c38-4692-8073-998e30934294.png">

[2022-09-05 07:06] JohnnyTseng commented on #112
It seems like my network today is too slow to fetch the `Alamofire` dependency
After manually open the `Atlantis-Example-App` to let Xcode resolve the package first, and run carthage command again, it works.

I think is same issue as https://github.com/realm/realm-swift/issues/6549#issuecomment-640674684 encountered

Thank you @NghiaTranUIT , solved temporarily!

[2022-10-05 07:26] vdka opened #115 "Connection reset by peer immediately after connection"
When using Proxyman on my mac, Atlantis on my physical device (same network), connection succeeds, but then immediately disconnects with `ECONNRESET` from posix
[code]

[2022-10-05 10:24] vdka commented on #115
I updated my `Info.plist` and noticed Xcode shifted `NSLocalNetworkUsageDescription` into the Xcode project build settings **Info.plist Values** section ... this seemed to break things, once I moved it back info `Info.plist` things work again.

[2022-10-05 10:24] #115 closed

[2022-10-06 00:20] NghiaTranUIT commented on #115
Thanks for letting me know 👍

[2022-10-11 09:11] doncl commented on #107
Thanks!

On Tue, Jun 28, 2022 at 12:21 AM Nghia Tran ***@***.***>
wrote:

[2022-11-07 11:53] ptrkstr opened #117 "Could not find module 'Atlantis' for target 'x86_64-apple-ios-simulator'; found: arm64-apple-ios-simulator"
I'm trying to import Atlantis into my project but getting the error:
[code]
I am integrating this using SPM in a project that also contains Cocoapods.
- M1 Pro
- Atlantis 1.18.2
- Xcode Version 14.1 (14B47b)
- Building for simulator iPhone 14 Pro 16.0

[2022-11-07 12:24] NghiaTranUIT commented on #117
Hey, just wondering: what iOS version and Xcode you're using?

[2022-11-07 13:24] ptrkstr commented on #117
Just updated post with those details @NghiaTranUIT

[2022-11-09 09:29] ptrkstr commented on #117
Hey @NghiaTranUIT sorry you are right, it's a problem with my project setup. Will close, thank you for looking into this regardless 🙏

[2022-11-09 09:29] #117 closed

[2022-11-10 13:02] radianttap opened #118 "Will Atlantis be supported in Proxyman for Windows?"
As the title says, this is just inquiry is it planned / possible on Windows?

[2022-11-10 13:30] NghiaTranUIT commented on #118
Thanks for the suggestion. Luckly, the Bounjour Service can be implemented on the Windows build. Thus, it's feasible.

I will keep this ticket open and soon work on it 👍

[2022-11-11 15:54] radianttap commented on #118
Fantastic! I think I already know who will be first customers for it ;)

[2022-11-15 09:36] chrisknapp98 opened #119 "duplicated connection working in an office"
hi, me and my colleagues are experiencing duplicated connections from atlantis to Proxyman when we are working at the office. Thus, we receive the same network request multiple times with the exact same time, duration etc.

I couldn't find the root of the issue, but filtering in NetServiceTransport#connectToService(_ service: NetService) also gets the job done. Maybe it could be a change to be con

[2022-11-15 09:41] NghiaTranUIT commented on #119
Do you specify the Computer Name when starting the Atlantis Service?

By doing it, Atlantis only connects to this computer, not your colleague's computers.

You can find a name in the Atlantis Windows.

![Screenshot_2022-11-15_at_16_39_46](https://user-images.githubusercontent.com/5878421/201885430-f858083c-663a-43d3-9e2a-7c92484489c9.jpg)

[2022-11-15 09:41] NghiaTranUIT commented on #119
and what Atlantis library version you're using 🤔 ?

[2022-11-15 09:46] chrisknapp98 commented on #119
version 1.19.0

[2022-11-15 09:47] chrisknapp98 commented on #119
The issue is not that it connects to my colleagues computers. No matter if I specify the device in start call, atlantis still keeps connecting multiple times to my Proxyman client. Sometimes it doesn't but often the conection is there like 5 times

[2022-11-15 09:50] chrisknapp98 commented on #119
Okay I haven't get any permissions to push a new branch. But my fix is in line 226 after the guard let hostName to add
`
        guard !connections.contains(where: { connection in
            if case let NWEndpoint.service(name: connectedHostName, type: _, domain: _, interface: _) = connection.endpoint {
                let splittedHostName = hostName.split(separator: ".")
                let devi

[2022-11-15 14:50] NghiaTranUIT commented on #119
If you don't mind, please add a checkpoint to this line https://github.com/ProxymanApp/atlantis/blob/a761f2c8a2880b38ff5701e8c0b4e8dacd35c22e/Sources/Transporter.swift#L229

and see how many print output.

If it connect to the same Macbook multiple times, we can see multiple outputs.

[2022-11-15 15:02] chrisknapp98 commented on #119
exactly! That's how I knew atlantis connected to the same device multiple times. Without the guard block I added, this print with the exact same hostName can be seen multiple times.
I think this also especially happens when there are like 3+ colleagues in the office which are running Proxyman on their mac

[2022-11-15 15:23] NghiaTranUIT commented on #119
@chrisknapp98 can you try this branch https://github.com/ProxymanApp/atlantis/pull/120?

### How to install
#### Cocoapod
[code]

### SPM
- Checkout this commit: `7ee8312b13a6b872a0068bdf11bfc66511614c9f`

[2022-11-15 15:37] chrisknapp98 commented on #119
seems to be working 👍
I censored the names because it would be the serial numbers
[code]

[2022-11-16 02:12] NghiaTranUIT commented on #119
Thanks. Please play around with this update. If it's still working fine, I will release the fix this week 👍

[2022-11-19 08:11] NghiaTranUIT opened #121 "[Bug] Atlantis on iOS 16 could not connect to Proxyman macOS app due to "Connection reset by peer""
## Description
If we use Atlantis on an iOS 16 Physical device, most of the time the Atlantis service cannot successfully connect to Proxyman macOS app.

Always get the following error:
[code]

Reason: We suspect that [NSNetServiceBrowser](https://developer.apple.com/documentation/foundation/netservicebrowser) is deprecated, so it might not work on iOS 16. NSNetServiceBrowser is a legacy framework

[2022-11-19 08:55] NghiaTranUIT commented on #121
Fixed: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_3.13.0_Fix_Atlantis_connection_is_failed.dmg

[2022-11-19 08:57] NghiaTranUIT commented on #119
Just a friendly reminder that I've bumped new version 1.20.0, which contains the fix.

However, if you've encountered this bug https://github.com/ProxymanApp/atlantis/issues/121 , Let's try the Proxyman beta build 👍

[2022-11-20 04:01] leondeng commented on #104
Weird, I'm still blocked by this issue with Xcode 14.1...

[2022-11-20 07:06] NghiaTranUIT commented on #104
@leondeng can you clone the Repo and try to run it again?

I'm able to successfully run/integrate Atlantis on Xcode 14.1

![Screenshot_2022-11-20_at_14_05_15](https://user-images.githubusercontent.com/5878421/202890180-94ac5b69-3f16-4489-800b-acd60fe93e88.jpg)

[2022-11-20 07:07] NghiaTranUIT commented on #104
@leondeng with the latest Atlantis 1.20.0, we completely remove the NSURLConnection, so these errors (the first screenshot) is gone.

[2022-11-20 07:25] leondeng commented on #104
Hi @NghiaTranUIT, the errors are from atlantis-proxyman 1.12.0
Do I still need Atlantis as dependency package after adding `pod 'atlantis-proxyman'` in the Podfile?

[2022-11-20 07:30] leondeng commented on #104
still the same error after adding Atlantis 1.20.0 to Pods/atlantis-proxyman...

[2022-11-20 13:53] NghiaTranUIT commented on #104
@leondeng can you share with me a screenshot?

The issue was about "NSURLConnection", which is completely removed from Atlantis 1.20.0.

[2022-11-20 23:37] leondeng commented on #104
Found it!
ios deployment target of the build target was 12.4, which restricted the version of atlantis-proxyman at 1.12.0 always
changed it to 13.0, pod install fetched 1.20.0 for me!
All good now, except that we are using pusher-js, not pusher swift, so still no possible to check out wss traffic via proxyman.

Thanks anyways, @NghiaTranUIT.

[2022-11-21 01:18] NghiaTranUIT commented on #104
Thanks for letting me know 👍  Only WS traffic, which is called from URLSessionWebSocketTask is supported.